.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.scroll_container {
  height: 400px;
  width: 100%;
  background-color: beige;
}
